/*
 *
 * BOARD */

.Board {
  width: 362px;
  height: 660px;
  display: block;
  overflow-y: scroll;
  scrollbar-width: none;
  border-bottom: 1px solid white;
}

.Board-Valid {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

// Necessary for Chromium-Based Browsers
.Board::-webkit-scrollbar {
  display: none;
}

.Board-Valid {
  width: 360px;
  height: 990px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(362, 1px [x]);
  grid-template-rows: repeat(992, 1px [y]);
  grid-gap: 0px;

  max-width: 100%;
  //overflow-x: hidden;
}

.DashBoard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin: 0 auto;
  max-width: 600px;
  flex-wrap: wrap;
}
