/*
 *
 * LAYOUT */

.App {
  min-height: 100vh;
  background-color: #282c34;
}

body {
  background-color: #282c34;
}

.DashBoard {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*
 *
 * BOARD */

.Board {
  width: 460px;
  height: 660px;
  display: block;
  border: 1px solid white;
  overflow-y: scroll;
}

.Board-Valid {
  width: 460px;
  height: 990px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(462, 1px [x]);
  grid-template-rows: repeat(992, 1px [y]);
  grid-gap: 0px;

  max-width: 100%;
  overflow-x: hidden;
}

/*
 *
 * CARDS */

.Dash-Card {
  background-color: white;
  margin: 10px 10px 10px 10px;
  height: 120px;
  width: 80px;
}

.Dash-Card header {
  height: 40px;
  font-size: 13px;
  border-bottom: 1px solid black;
  cursor: default;
  display: flex;
  align-items: center;
}

.Dash-Card header strong {
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: 10px 0 0 rgba(0, 0, 0, 0.0), -10px 0 0 rgba(0, 0, 0, 0.0);
  box-decoration-break: clone;
}

.Dash-Card p {
  margin-top: none;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: default;
  max-height: 45px;
  overflow: hidden;
  margin-bottom: 0px;
}


/*
 *
 * FORM */

.CardCreator {
  margin-left: 75px;
  width: 240px;
  min-height: 500px;
}
.CardCreator header {
  height: 120px;
  border-bottom: 3px solid black;
}

.CardForm header textarea {
  border: none;
  border-style: none;
  font-size: 3em;
  max-width: 222px;
  padding: 0;
  resize: none;
  margin-left: 9px;
  margin-right: 9px;
}

.CardForm header textarea:focus {
  outline: none;
}

.CardForm button[type=submit] {
  position: relative;
  top: 34px;
  left: 175px;
}

textarea#CardFormBody {
  width: 222px;
  padding: 0;
  resize: none;
  border: none;
  height: 135px;
  font-size: 3em;
  margin-top: 36px;
  margin-left: 9px;
  margin-right: 9px;
}
textarea#CardFormBody:focus {
  outline: none;
}

.CardForm {
  background-color: white;
  width: 240px;
  height: 360px;
  margin-top: 40px;
}

input#ColorPicker {
  position: relative;
  left: 166px;
  top: 29px;
}

/*
 *
 * EDIT CARD */

form#edit-card header textarea {
  width: 74px;
  max-height: 40px;
  margin-left: 3px;
  margin-top: 0;
  margin-right: 3px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  resize: none;
  font-weight: 700;
}
form#edit-card header textarea:focus,
form#edit-card textarea#edit-card-body:focus {
  outline: none;
}

form#edit-card textarea#edit-card-body {
  width: 74px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;
  border: none;
  resize: none;
  font-size: 12px;
  margin-top: 12px;
}

form#edit-card button[type=submit] {
  display: inline-block;
  font-size: 12px;
  height: 15px;
  padding: 0;
  border: none;
  background: none;
  transform: scale(1.5);
}

form#edit-card footer {
  margin-top: 5px;
  display: flex;
}

form#edit-card input[type=color] {
  width: 40px;
  padding: 1px;
  height: 15px;
  border: none;
  margin: 0;
}


/*
 *
 * BOARD SELECT */

.App-header {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  width: 200px;
}

.App-header div {
  margin: 5px auto;
}

/*
 *
 * NAVBAR */
.NavBar {
  width: 100%;
  color: white;
}

.NavBar #Brand {
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
}

/*
 *
 * MENU */
.board-menu {
  z-index: 0;
}
