/*
 *
 * LAYOUT */

.App {
  min-height: 100vh;
  background-color: #282c34;
}

body {
  background-color: #282c34;
}


/*
 *
 * BOARD SELECT */

.App-header {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  width: 200px;
}

.App-header div {
  margin: 5px auto;
}

#BoardSelect {
  //width: 150px;
  height: 100px;
  //background-color: white;
  margin-top: 40px;
  display: none;
}

@media screen and (max-width: 767px) {
  #BoardSelect {
    display: none;
  }

}

#BoardSelect ul {
  padding: 0;
}

#BoardSelect ul li {
  background-color: white;
  list-style-type: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 10px 0px 0px 10px;
}

#BoardSelect ul li:hover {
  background-color: teal;
}

/*
 *
 * NAVBAR */
.NavBar {
  width: 100%;
  color: white;
}

#Brand {
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  color: white;
  width: 100px;
  text-align: center;
  padding-right: 15px;
}

